<main>
    <div *ngIf="waifus?.status; else noData" class="main-container">
        <div class="container-img">
            <div class="profile-artist">
                <p> Made by: {{ waifus?.attribution?.artist?.username ? waifus?.attribution?.artist?.username :
                    'Unknown' }} </p>
                <p> Profile: {{waifus?.attribution?.artist?.profile ? waifus?.attribution?.artist?.profile : 'Unknown'  }} </p>
            </div>
            <img [src]="waifus?.image?.compressed?.url ?? 'images/saber.jpeg'"
                [alt]="waifus?.attribution?.artist?.username ?? 'Imagen por defecto'">
        </div>
        <section>
            <div class="color-div">
                <h2>Palette</h2>
                <div class="palette">
                    <div *ngFor="let color of waifus?.colors?.palette" class="color"
                        [ngStyle]="{'background-color': color}" (mouseover)="showTooltip($event, color)"
                        (mouseleave)="hideTooltip()">
                    </div>
                </div>
                <div *ngIf="tooltipVisible" class="tooltip" [ngStyle]="{'top.px': tooltipY, 'left.px': tooltipX}">
                    {{ tooltipText }}
                </div>
            </div>
            <div class="tags-img">
                <h2>Tag's img</h2>
                <div class="tags">
                    <p *ngFor="let tag of waifus?.tags">#{{tag}} </p>
                </div>
            </div>
        </section>
    </div>

    <ng-template #noData>
        <p>No hay imágenes disponibles</p>
    </ng-template>
</main>